<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/4주차/css/mystyle.css">
    <title>Document</title>
</head>
<body>
    
<h1><span class="g1">G</span>
    <span class="o1">o</span>
    <span class="o2">o</span>
    <span class="g1">g</span>
    <span class="l1">l</span>
    <span class="o1">e</span></h1>

    <form action="https://www.google.co.kr/search?q=%s" method="GET">
        <input type="text" name="q">
        <button>Google검색</button>
    </form>

</body>
</html>