<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/4주차/css/mystyle.css">
</head>
<body>
    <h1>링크 꾸미기</h1>
    <h5>초록색에 밑줄없는 링크 마우스를 올리면 밑줄과 violet 색으로 변경</h5>
    <hr>

    <ul>
        <li class="my1"><a href="" class="my2">네이버</a></li>
        <li class="my1"><a href="" class="my2">구글</a></li>
    </ul>

</body>
</html>